//colors
$clr1: #aab2c3;
$clr2: #ffffff;
$clr3: #e1e1e1;
$clr4: #5c5a5a;
$clr5: #2b2b2b;

$clrs-fler: (
    rgba(50, 205, 50, 0.5),
    rgba(220, 20, 60, 0.5),
    rgba(30, 143, 255, 0.5)
);

//size
$size: 2rem;



