$heart-one:
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "r", "r", "b", "r", "r", "b", "t",
"b", "r", "r", "r", "r", "r", "b", "t",
"t", "b", "r", "r", "r", "b", "t", "t",
"t", "t", "b", "r", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";
$heart-two:
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "r", "r", "b", "t", "t", "b", "t",
"b", "r", "r", "r", "t", "t", "b", "t",
"t", "b", "r", "r", "t", "b", "t", "t",
"t", "t", "b", "r", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";
$heart-tre:
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "t", "t", "b", "t", "t", "b", "t",
"b", "t", "t", "t", "t", "t", "b", "t",
"t", "b", "t", "t", "t", "b", "t", "t",
"t", "t", "b", "t", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";