@mixin ballong($size ,$clr1 ,$clr2, $clr3){

background-color: $clr1;

    position: relative;

    height: $size * 10;
    width: $size * 10;

border: $size*0.5 solid $clr2;
border-radius: 100% ;


margin: $size*3;
    &::before{
        content: "";
        position: absolute;
        box-sizing: border-box;
        
        // background-color: #b0b;
        top: calc(50% - $size*4);
        left: calc(50% - $size*4);
        
        height: $size*8;
        width: $size*8;
        border-radius: 100%;
        border: $size*0.5 solid transparent;
        border-top: $size*0.5 solid $clr2;
        transform: rotate(45deg);
    }
    &::after{
        content: "";
        position: absolute;
        
        top: calc(50% - $size*5);
        left: calc(50% - $size*5);
        
        height: $size*10;
        width: $size*10;
        border-radius: 100%;
        transform: rotate(45deg);
    border-bottom:   $size solid $clr3 ;
    box-sizing: border-box;

        // box-shadow: $size*3 0 0 0 $clr1;
    }
}