@use "partials/" as *;


.camera{
    @include mx-camera-body($v-size ,$v-clr1 ,$v-clr2 ,$v-clr3 ,$v-clr4 ,$v-clr5);
}


body{
    margin: 0;
    background-color: #81a1c1;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}