// terminal colors
$t-clr1: #bf616a;
$t-clr2: #ebcb8b;
$t-clr3: #a3be8c;
$t-clr4: #2e3440;
$t-clr5: #8d98ad;
$t-clr6: #ebebeb;

// size
$size: 1rem;
$sz: 2rem;

// pokemon colors
$p-clr-1: #ef5265;
$p-clr-2: #40484b;
$p-clr-3: #f9f9f9;

//letter colors
$l-clr1: #d9f9dc;
$l-clr2: #41e14e;
$l-clr3: #d9eef9;
$l-clr4: #41ace1;
$l-clr5: #f9e2d9;
$l-clr6: #eba082;

//letter size
$l-size1: 1.5rem;
$l-size2: 1rem;
$l-size3: 0.5rem;

// heart colors
$h-clr1: #dc143c;
$h-clr2: #303030;

//ghost colors
$g-clr1: #333333;
$g-clr2: #f9f3e7;
$g-clr3: #4c97f9;

//ghost size
$g-size-2: 3rem;

//colors
$f-clr1: #006aa7;
$f-clr2: #fecc00;

//sizes
$f-sz: 2rem;

//flag icon collors
$fi-clr-1: #3b4252;

//flag icon size
$fi-sz: 2.5rem;

//ballong colors
$b-clr1: #dc143c;
$b-clr2: #000000;
$b-clr3: #ad102f;

//ballong size
$b-size-1: 3rem;

//1up colors
$u-clr1: #01c03c;
$u-clr2: #f9d682;
$u-clr3: #fafafa;
$u-clr4: #000000;


//1up size
$u-size: 2rem;
$u-size2: 0.44rem;

//camera colors
$c-clr1: #ebebeb;
$c-clr2: #bb342f;
$c-clr3: #691d1b;
$c-clr4: #b0e0e6;
$c-clr5: #b3bbbe;

