@use "partials/" as *;


.ballong{
    @include mx-ballong($v-size-1 ,$v-clr1 ,$v-clr2 ,$v-clr3);
}



body{
    margin: 0;
    background-color: #535c68;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}