@mixin flag-icon($size, $clr1){
    background-color: $clr1;

    height: $size * 2;
    width: $size * 3;


    position: relative;
    border-radius: 15px;
    
    &::before{
        content: "";

        position: absolute;
        top: -$size * 0.5;

        height: $size * 4.5;
        width: $size * 0.5 ;
    background-color: $clr1;

    }
    &::after{
        content: "";
        position: absolute;
        top: $size * 0.8;
        right: -$size * 1.5;

        height: $size * 2;
        width: $size *3;
        background-color: $clr1;
        border-radius: 15px;

    }
}