<div class="wrapper">
    <div>
        <h3>Contacts:</h3>

        <p>Tik Tok: Xtremefit</p>
        <p>Twitter XTREMEFIT</p>
        <p>Facebook XtremefitFB</p>
    </div>

    <div>
        <h3>Links</h3>
        <a href="https://docs.astro.build/en/getting-started/">Astro Docs</a>
        <a href="https://flask.palletsprojects.com/en/2.3.x/">Flask</a>
        <a href="https://tailwindcss.com/">Tailwind Css</a>
        <a
            href="https://www.styrkelabbet.se/tre-skal-att-folja-ett-traningsprogram/"
            >Styrkelabbet</a
        >
        <a
            href="https://www.styrkelabbet.se/tre-skal-att-folja-ett-traningsprogram/"
            >Riksidrottsförbundet
        </a>
    </div>
</div>

<style>
    .wrapper {
        bottom: 0;
        width: 100%;
        background-color: #4b5563;
        color: black;
        margin: 0%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30%;
    }
    .wrapper div {
        display: flex;
        flex-direction: column;
        margin: 20px;
        column-gap: 500px;
    }
    h3 {
        font-size: larger;
        color: white;
    }
    p,
    a {
        color: white;
    }
</style>
