<!-- 
    
    
    
    
    <div class="wrapper">
    <button class=""></button>
    <ul role="list" class="link-card-grid">
        <Card
            href=""
            title="Noa"
            body="noa is a ultra super pro master grandmaster supreme genius programmer who made this site"
        />
        <Card
            href="/generator"
            title="Kevin"
            body="kevin is a elite expert programmer and made the genetor"
        />
        <Card
            href=""
            title="Araz"
            body="araz noob programmer and gave noa the links to use in the footer"
        />
        <Card
            href=""
            title="Kassim"
            body="kassim is ai user and made the logo and text for the website "
        />
    </ul>
</div>


    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        gap: 1rem;
        padding: 0;
    } 