---
export interface Props {
    home: string;
    generator: string;
    about: string;
}

const { home, generator, about} = Astro.props;
---

<div class="flex justify-center items-center bg-[#333] overflow-hidden"
    id="myTopnav">
    <img
        src="../../public/logo_x.png" alt="home" class="mt-2 h-[4rem] w-24 hover:cursor-pointer absolute left-0"/>
    <a href="/" class={home}>Home</a>
    <a href="/generator" class={generator}>Generator</a>
    <a href="/about" class={about}>About</a>
</div>

<style>
    a {
        @apply block text-[#f2f2f2] text-center px-[16px] py-[14px] no-underline text-[17px] hover:bg-[#ddd] hover:text-[black];
    }

    a.active {
        background-color: #04aa6d;
        color: white;
    }
</style>
